<ion-header [translucent]="true" style="background-color: rgb(196, 230, 164)">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/icon1.png" style="width: 150px" alt="" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button
        size="larger"
        style="color: yellowgreen"
        auto-hide="false"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" style="background-color: rgb(196, 230, 164)">
  <div
    style="
      text-align: center;

      color: rgb(18, 110, 49);
      font-size: 35px;
    "
  >
    <strong
      style="
        justify-content: center;
        font-family: cursive;
        font-size: larger;
        text-align: center;
      "
    >
      Login</strong
    >
    <br />
    <img
      src="assets/icon/log.png"
      style="
        width: 160px;
        height: 160px;
        justify-content: center;
        padding-top: 20px;
      "
      alt=""
    />
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label
          position="stacked"
          style="
            padding-bottom: 30px;
            text-decoration: none;
            color: rgb(42, 94, 18);
            font-family: cursive;

            font-size: large;
          "
          ><strong>Username</strong></ion-label
        >
        <ion-input
          style="background-color: transparent"
          autocomplete="off"
          type="text"
          name="username"
          [(ngModel)]="postData.username"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label
          position="stacked"
          style="
            padding-bottom: 25px;
            text-decoration: none;
            color: rgb(42, 94, 18);
            font-family: cursive;
            font-size: large;
          "
          ><strong>Password</strong></ion-label
        >
        <ion-input
          style="background-color: transparent"
          autocomplete="off"
          type="password"
          name="password"
          [(ngModel)]="postData.password"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <a
          class="link"
          style="
            text-decoration: dashed;

            color: rgb(42, 94, 18);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
              'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          "
          routerLink="/signup"
          >Create Account</a
        >
      </ion-item>
    </ion-list>
    <ion-button
      expand="block"
      shape="round"
      color="success"
      (click)="loginAction()"
      >Login</ion-button
    >
  </form>
</ion-content>
